@media screen and (min-width: 500px) {
    header {
        background-color: black; /* Black background */
        color: white; /* White text */
    }

    main {
        grid-template-columns: 1fr 1fr; /* Two equal columns */
    }
}